#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  text-align: center;
  line-height: 1.1;
  color: #e4e4e4;
  text-shadow: 2px 2px black;
}

h2 {
  margin-top: 120px;
  text-align: center;
  color: #e4e4e4;
}

button {
  display: block;
  margin: 1em auto;
  height: 2.5em;
  font-size: 1.1rem;
  min-width: 200px;
  border-radius: 8px;
  border-right: 2px solid #b9b9b9;
  border-bottom: 2px solid #b9b9b9;
  font-weight: 500;
  font-family: inherit;
  background-color: #303058;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
  background-color: #303058d6;
}