.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.task-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
  border-radius: 10px;
}

.main-list-container {
  width: 600px;
  min-height: 500px;
  /* background-color: #3b3b4f; */
  padding: 25px;
  margin: 10px;
  border: 1px solid #9a9a9a;
  border-right: 4px solid #9a9a9a;
  border-radius: 10px;
}
