.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.task-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
  height: 40px;
  background-color: rgb(207, 200, 200);
}

/* Listas de Tareas */
.main-list-container {
  width: 600px;
  min-height: 500px;
  background-color: #3b3b4f;
  padding: 25px;
  margin: 10px;
  border-right: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  border-radius: 10px;
}
