.login-icon {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

form {
  margin: 2.5em auto;
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  padding-bottom: 2em;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
select {
  margin: 10px 0 0 0;
  padding-left: 10px;
  width: 100%;
  min-height: 2em;
}

input {
  display: block;
  width: 100%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  min-width: 300px;
  border-bottom-right-radius: 10px;
}

.user-create-link {
  margin-left: 500px;
  font-size: 15px;
}

p.user-create-link {
  font-size: 20px;
}
