.nav {
    display: flex;
    gap: 30px;
    margin-left: -200px;
    margin-bottom: 100px;
  }
  
  a, li {
    list-style-type: none;
    text-decoration: none;
    color: rgb(221, 237, 252);
    font-size: 20px;
    margin-left: 5px;
  }
  
  a:hover {
    color: #646cff;
  }