.task-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  padding-bottom: 0;
}

.task-input {
  width: 95%;
  height: 2.5em;
  color: #000;
  background-color: #d7d6d6;
  outline: none;
  margin: 0 0 10px -30px;
  padding-left: 10px;
}

.task-button {
  background-color: #3b3b4f;
  border: none;
  font-size: 35px;
  padding: 0;
  margin: 0 auto;
  border-radius: 0;
  transition: none;
  height: fit-content;
  min-width: fit-content;
}
